body{
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	background: #474747;
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
	color: inherit;
}

.posts {
	clear: both;
	padding: 0;
	margin: 0;
}

header{
	max-width: 100%;
	background: rgba(0,0,0,.6);
	padding: 20px;
}

nav{
	width: 100%;
	margin-bottom: 1em;
	background: #323232;
	font-family: 'Poiret One', cursive;
}

.titel{
	text-align: center;
	color: #fff;
	font-size: 3em;
	font-weight: 400;
	font-family: 'Poiret One', cursive;
}

ul{
	padding: 0;
	margin: 0;
	overflow: hidden;
	color: #fff;
	text-align: center;
}

.balk{
	display: inline-block;
	padding: 20px;
	font-size: 1.4em;
}

.container{
	max-width: 1020px;
	margin: 0 auto;
	padding: 20px;
}

.blog-post{
	background: #fff;
	margin: 0 auto 2em auto;
	padding: 35px 30px;
	box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}

.blogcontent{
	font-size: 1em;
	border-left: 5px solid #8EE5EE;
	padding-left: 15px;
}

.blogtitel{
	font-size: 2.5em;
	margin-top: 5px;
}

.datum{
	font-size: 1em;
	font-weight: 400;
	color: #9C9C9C;
	margin-top: -10px;
	text-decoration: underline;
	text-decoration-color: currentColor;
}

.post-lees meer{
	color: #009ACD;
	font-style: italic;
	transition: all 0.4s;
}

.button{
	display: block;
	padding: 15px 20px;
	margin-top: .8em;
	background: #009ACD;
	text-align: center;
	color: #fff;
	font-size: 1.4em;
	border-radius: 3px;
	transition: all .4s ease-in;
/* made by @robinsimons*/
}
/* @900px*/
@media only screen and (max-width: 56.25em) {
	.col{ margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3{ width: 100%; }
	.side-post{ width: 42%;
			   float: left;
			   margin: -2% 0 1% 1.6%;}
}

/* @685px*/
@media only screen and (max-width: 42.813em) {
	.side-post{ width: auto;
				padding: 15px;
			    margin: -2% auto 8% auto; }
	.blog-title{ font-size: 1.95em; }
	.date{ font-size: .9em; }		
}

/* @480px */
@media only screen and (max-width: 30em){
	nav ul{ max-height: 0; }
	.reveal{ max-height:19em; }
	nav ul .nav-item{ -webkit-box-sizing: border-box;
		 			  -moz-box-sizing: border-box;
     				  -ms-box-sizing: border-box;
        			  box-sizing: border-box;
					  width:100%;
		 			  padding: 15px; }
	
	.menu-bar{ display: block; }

}

/* @380px*/
@media only screen and (max-width: 23.75em) {
	.blog-content, .post-link{ font-size: .9em; }
	.side-content{ font-size: .8em; }
	.button{ padding: 10px 15px; }
	.nav-item{ font-size: 1.2em; }
}
>>>>>>> 8fc4a25604eb276094ecb82e4aa2aad89bd18c33
